body:not(.dark-mode) {
  --background-color: white;
  --color: #1e272e;
  --bg-image: url(../sun.jpg);
}

.dark-mode {
  --background-color: #1e272e;
  --color: rgb(241, 242, 246);
  --bg-image: url(../moon.jpg);
}

/* Reset default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
}

header {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
}

h1 {
  width: 100%;
  font-size: 2em;
  color: var(--color);
  margin-left: 30px;
}

.product h3 {
  color: var(--color);
}
.product h4 {
  color: var(--color);
}

main {
  margin: 20px;
}

.favorites-grid {
  display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
border: 1px solid var(--color);
padding: 10px;
}

.product {
  background-color: var(--background-color);
  border: 1px solid var(--color);
  padding: 20px;
  text-align: center;
}

.product img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.product h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--color);
}

.product p {
  font-size: 14px;
  color: var(--color);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: var(--color);
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0056b3;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  text-align: center;
  color: var(--color);
}
